@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-secondary text-dark dark:bg-gray-900 dark:text-gray-100 transition-colors;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

pre {
  @apply bg-gray-100 dark:bg-gray-800 p-3 rounded-md my-2 overflow-x-auto text-sm;
}

code {
  @apply text-accent dark:text-yellow-400;
}